Single dot (.) should be a valid value of a DNS SRV record target

#### Steps to reproduce
Try to create a new DNS SRV record in Calypso that has this form:
```
_imap._tcp     SRV  0 0 0   .
```

#### What I expected
It's possible to create such a record. It's a valid SRV record that says that the IMAP service is not available for the domain -- see the example at the end of [RFC 6186 section 3.4](https://tools.ietf.org/html/rfc6186#section-3.4).

#### What happened instead
The `.` value of the "Target Host" field is marked as invalid.

Reported by customer in ticket 3224299-t.

Hi all, I'd like to take this issue if possible
Do I need to create a custom domain to recreate this issue?

Thanks @jsnajdr, my username is yuliapaza

Confirmed that this is still an issue.

And still an issue.

Hello everyone. May I work on this issue? My Wordpress username is richardkang112.  

@richardkang112 You're welcome to work on this issue! Let me know if you need any assistance.

You can start with the existing PR (#29745) by @yg-apaza and improve it a bit: to allow the dot char only if the record name is SRV. And not for any other types like A or MX.

@jsnajdr Thank you for the hints. I implemented a possible fix to my own branch, and I'd like to test if the issue will be resolved or not. Could you invite me to a test WordPress site?  

@richardkang112 I invited you to a testing site with a custom domain. Let me know how it works for you. Looking at the patch in your fork, it looks good :+1:

We'll also need to update our backend to support the `.` SRV record. Currently Calypso is getting the following error from the REST endpoint:
```
SRV record is not in expected format: 10 10 0 .
```